name: Publish to PyPi
on:
  push:
    tags: 
    - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install dependencies
      run:  pip install -U hatch
    - name: build
      run:  hatch build
    - name: publish
      run:  hatch publish
      env:
        HATCH_INDEX_USER: ${{ secrets.HATCH_INDEX_USER }}
        HATCH_INDEX_AUTH: ${{ secrets.HATCH_INDEX_AUTH }}